#mainId{
    display: flex;
    flex-wrap: wrap;
  }

  .filter{
    background-color: #B4703F;
    color: white;
  }

  .custom{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }