

<!--Footer Section-->
  
<div class="container-fluid my-2">
    <div class="footer"  style="text-align: center;">
      <br>
      
      <a href=""><span class="fa-stack fa-lg ">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span></a>
      <a href=""><span class="fa-stack fa-lg ">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>    
      </span></a>
      <a href=""><span class="fa-stack fa-lg ">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </span></a>
      
      <div style="text-align: center;">
        <span>Info</span> | <span>Support</span> | <span>Marketing</span>
    </div>
      
      
      <div style="text-align: center;">
        <span>Terms of use</span> | <span>Privacy Policy</span>
    </div>
        <div style="text-align: center;">
        <span><i class="fa fa-copyright"></i> 2021 All copyrights reserved</span>
    </div>
      <br>
    </div>
  </div>

