<div class="container">
    <h1 id="h1">My Shopping Cart</h1>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-sm-7" id="carts">
        
          </div>
          <div class="col-sm-5">
              <div class="sticky-top" id="priceDetails">

                <div class="row" style="border:1px solid gray;border-radius:5px">
        
                    <h3>PRICE DETAILS</h3>
                    <hr>
                    <div class=" d-flex justify-content-around">
                    <h5>Price (items)</h5>
                    <h5>&#8377;</h5>
                    </div>
                    <div class=" d-flex justify-content-around">
                    <h5>Discount</h5>
                    <h5>- &#8377;0</h5>
                    </div>
                    
                    <div class=" d-flex justify-content-around">
                    <h5>Delivery charge</h5>
                    <h5>+ &#8377;0</h5>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-around">
                    <h5>Total Amount</h5>
                    <h5>&#8377;</h5>
                    </div>
                </div>
            <div style="text-align: center;">
                <button class="btn btn-lg my-2" id="placeOrder" style="background-color:#8F4712;color:white" width="50%">PLACE ORDER</button>
            </div>
              </div>
          </div>
      </div>

  </div>
